body{
    background:#F5F5F5;
    text-align: center;
}
.content{
    display: inline-block;
    width: 80%;   
}
/*头部*/
header{
    margin-top: 30px;
}
header > .header-logo{
    float: left;
    top: 4px;
}
header > .header-nav{
    float: right;
}
header > .header-nav li{
    float: left;
    margin: 0 20px;
    
}

header > .header-nav li a{
    color: #000;
    font-size: 16px;
    font-family:Microsoft YaHei;
}
header > .header-nav .navhover{
     color: #139BFB;
}
header > .header-nav li img{
    width: 8px;
    height: 5px;
}

/*轮播图*/
.content >.banner{
    margin-top: 20px;
    /*background: pink;*/
    height: 300px;
}
 .swiper-container {
            /*width: 600px;*/
    height: 300px;
}  

/*主体*/
.content >.main{
    margin-top: 20px;
}
.content >.main >h2{
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}
.content >.main >a{
    color: #33A3F3;
    font:400 9px/14px consolas;
}
.main .main-use{
    width: 30%;
    box-sizing: border-box;
    height: 200px;
    background:#fff;
    float: left;
    margin: 0 15px;
    margin-top: 20px;
}
.main .title{
    font-size: 18px;
    color: #000;
    height: 30px;
    border-bottom: 2px solid #EEEEEE;
    line-height: 30px;
}
/*表单*/
.main .loanApply{
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}
.loanApply label{
    font-family:Microsoft YaHei;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.loanApply select {
    border: 1px solid #E5E5E5;
    width: 150px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
}
.loanApply .loanBtn{
    margin-top: 20px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background: #139BFB;
    color: #fff;
}

.banktitle p{
    margin-top: 10px;
    color: #8E8E8E;
}
.banktitle p:nth-child(1){
    float: left;
    margin-left: 10px;
    
}
.banktitle p:nth-child(2){
    float: right;
    margin-right: 20px;
    font:400 9px/14px consolas;
}
.main-two ul li{
    float: left;
    margin-top: 20px;
    font-family:Microsoft YaHei;
    color: #000;
    font-size: 14px;
}
.main-two ul li:nth-child(1){
    margin-left: 30px;
}
.main-two ul li:nth-child(2){
    margin-left: 60px;
}
.main-two ul li:nth-child(3){
    margin-left: 60px;
}
.intertitle p{
    margin-top: 10px;
    color: #8E8E8E;
}
.intertitle p:nth-child(1){
    float: left;
    margin-left: 10px;
    
}
.intertitle p:nth-child(2){
    float: right;
    margin-right: 20px;
    font:400 9px/14px consolas;
}

.main-consult {
    color: #000;
    text-align: left;  
    height: 80px;
    line-height: 1;
}
.main-consult img{
    margin-left: 20px;
    margin-top: 20px;
}
.main-consult p{
    float: right;
   font-family:Microsoft YaHei;
    margin-top: 35px;
    margin-right: 30px;
}
.main-consult ul {
    list-style:disc;
    margin-left: 35px;
    margin-top: 10px;
}
.main-consult ul li{
    margin-bottom: 5px;
    font-family:Microsoft YaHei;
}
